*{
    margin:0;
    padding:0;
    box-sizing: border-box;   
    font-family: Arial, Helvetica, sans-serif;   
}
    
body{
    background-color: black;
    color: gray;
}

.container{
    max-width: 978px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    padding-top: 64px;
    font-size: 24px;
    line-height: 32px;
}

p{
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

select, option{
    font-size: 13px;
}

footer{
    background-color: lightgrey;
}

.footer-content{
    padding: 10px 15px;
}

.footer-list-item{
    display: inline;
}

.footer-list-item a{
    font-size: 11px;
    display: inline-block;
    color: green;
}

.footer-list-item a::before{
    content:'*';
    font-size: 11px;
    padding-left: 5px;
    padding-right: 7px;
    color: green;
}

.footer-list-item:first-child a::before{
    content:'';
}

.left, .right{
    display: inline-block;
}

.dflex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}