*{
    margin:0;
    padding:0;
    box-sizing: border-box;   
    font-family: Arial, Helvetica, sans-serif;   
}
    
body{
    background-color: white;
    color: black;
}

.container{
    max-width: 978px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    padding-top: 64px;
    font-size: 24px;
    line-height: 32px;
}

p{
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
}

a{
    text-decoration: none;
    color: #3367d6;;
}

ul{
    list-style: none;
}

select, option{
    font-size: 13px;
}

footer{
    background-color: rgb(245, 245, 245);
}

.footer-content{
    padding: 10px 15px;
}

.footer-list-item{
    display: inline;
}

.footer-list-item a{
    font-size: 11px;
    display: inline-block;
    color: rgba(61,61,61,.8);
}

.footer-list-item a::before{
    content:'*';
    font-size: 11px;
    padding-left: 5px;
    padding-right: 7px;
    color: rgba(61,61,61,.8);
}

.footer-list-item:first-child a::before{
    content:'';
}

.left, .right{
    display: inline-block;
}

.left{
    padding-left: 20px;
}

.dflex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ol{
    padding-left: 20px;
}

ol li{
    padding-top: 12px;
    padding-left: 16px;
}

header{
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}

.header-top{
    height: 50px;
}

.header-top .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    display: inline-block;
}

.header-top .left{
    display: flex;
    align-items: center;
}

.header-top img{
    height: 36px;
}

.header-top span{
    padding-left: 10px;
    font-size: 22px;
    line-height: 24px;
    display: inline-block;
    color: #5f6368;
}

.list-nav{
    list-style: none;
}

.list-nav-item:first-child{
    margin-left: 20px;
}

.list-nav-item::after{
    content: '';
    height: 4px;
    width: 100%;
    background-color: transparent;
    display: block;
}

.select a{    
    color: #3367d6;
}

.list-nav-item.select::after{
    content: '';
    height: 4px;
    width: 100%;
    background-color: #3367d6;;
    display: block;
}

.list-nav-item{
    display: inline-block;
    margin-right: 40px;
}

.list-nav-item-link{
    font-size: 14px;
    padding-bottom: 6px;
    color: blueviolet;
}